/*
Theme Name: GustoLocal Child
Description: Child theme for GustoLocal multilingual site
Author: Eugene
Template: twentytwentyfour
Version: 1.0.0
*/

/* Child theme styles will be added here if needed */
