<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"gl-container","layout":{"type":"constrained"}} -->
<main class="wp-block-group gl-container">
	<!-- wp:group {"className":"gl-card","style":{"spacing":{"padding":{"top":"var(--gl-spacing-xl)","bottom":"var(--gl-spacing-xl)","left":"var(--gl-spacing-lg)","right":"var(--gl-spacing-lg)"}}}} -->
	<div class="wp-block-group gl-card" style="padding-top:var(--gl-spacing-xl);padding-right:var(--gl-spacing-lg);padding-bottom:var(--gl-spacing-xl);padding-left:var(--gl-spacing-lg)">
		<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
