<!-- wp:template-part {"slug":"header","area":"header","tagName":"header","theme":"gustolocal"} /-->

<!-- wp:group {"tagName":"main","className":"gl-checkout-container","layout":{"type":"constrained"}} -->
<main class="wp-block-group gl-checkout-container">
	<!-- wp:group {"className":"gl-checkout-card","layout":{"type":"constrained"}} -->
	<div class="wp-block-group gl-checkout-card">
		<!-- wp:woocommerce/page-content-wrapper {"page":"checkout"} -->
		<!-- wp:post-content {"lock":{"move":false,"remove":true}} /-->
		<!-- /wp:woocommerce/page-content-wrapper -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->

